.bungkus-profil {
    background-color: rgb(186, 191, 252);
    padding: 2rem 1rem;
    height: 60vh;
}

.deskripsi {
    padding: 2rem 1rem;
    background-color: #c5d3e9;
}

.deskripsi .skill p {
    margin-bottom: 0;
}

.pengalaman {
    padding: 2rem 1rem;
    background-color: rgb(186, 191, 252);
}